@import '~styles/_dependencies.scss';

.login {

  visibility: hidden;

  .ready {
    visibility: visible;
  }

  .wrapper {
    background-color: $white;
    color: $mineShaft;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 200px;
    overflow: hidden;
    position: relative;
    width: 500px;

    @include mobile {
      margin-top: 20px;
      width: 320px;
    }

    .success {
      text-align: center;
    }

    .form {
      @include placeholder(#aaa);
      position: relative;
      margin: 0 auto;
      margin-top: 20px;
      width: 90%;

      .actions {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .left {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 17px;
          width: 100%;

          .login {
            margin-right: 10px;
            width: 100px;

            @include mobile {
              margin-right: 5px;
            }
          }

          .register {
            width: 100px;
          }
        }
      }
    }
  }
}
