@import '~styles/_dependencies.scss';

body {
  background-color: $white;
  font-family: $openSans;
}

h2 {
  color: $tuna;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

.layout {
  .wrapper {
    display: flex;
  }
}
